In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import accuracy_score as acc
from sklearn.tree import DecisionTreeClassifier
from sklearn import datasets
from sklearn.metrics import r2_score
from sklearn import tree
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_diabetes
import sklearn.metrics as met
from openpyxl import load_workbook

In [120]:
Data = pd.read_excel ("C:\\Users\\pc\\Desktop\\New folder (4)\\X.xlsx")

In [121]:
Data

    ساعت  دما
0     24    8
1     23    7
2     22    7
3     21    6
4     20    6
5     19    4
6     18    4
7     17    4
8     16    3
9     15    4
10    14    6
11    13    8
12    12   11
13    11   12
14    10   13
15     9   13
16     8   13
17     7   12
18     6   11
19     5   11
20     4   10
21     3    9
22     2    9
23     1    9

In [123]:
X = Data.drop("دما" , axis=1)
Y = Data.drop("ساعت" , axis=1)

In [124]:
X

    ساعت
0     24
1     23
2     22
3     21
4     20
5     19
6     18
7     17
8     16
9     15
10    14
11    13
12    12
13    11
14    10
15     9
16     8
17     7
18     6
19     5
20     4
21     3
22     2
23     1

In [125]:
Y

    دما
0     8
1     7
2     7
3     6
4     6
5     4
6     4
7     4
8     3
9     4
10    6
11    8
12   11
13   12
14   13
15   13
16   13
17   12
18   11
19   11
20   10
21    9
22    9
23    9

In [131]:
Y_train , Y_test , X_train , X_test = train_test_split(X , Y , train_size=0.4 , random_state=42)

In [132]:
Tree = DecisionTreeClassifier(criterion="entropy" , max_depth= 5)

In [133]:
Model = Tree.fit (Y_test , X_test)

In [143]:
Y_pred = Model.predict(Y_test)

In [144]:
Y_pred

array([ 3, 13,  8, 11,  8,  4, 12,  7,  9,  4,  7, 11, 13,  6,  6])

In [148]:
accuracy = acc(Y_pred , X_test)
mse = mse(Y_pred , X_test)

In [149]:
print("Deghat:",accuracy)
print("Khata:",mse)

Deghat: 1.0
Khata: 0.0